*.py[ciod]
*.so
__pycache__

.project
.pydevproject
.vscode

*.egg-info
build
dist

/libgrapplefrc/version.py
/libgrapplefrc/_init_libgrapplefrc.py
/libgrapplefrc/rpy-include
/libgrapplefrc/pkgcfg.py
/libgrapplefrc/py.typed

*.dylib
*.dll